@using Microsoft.AspNetCore.Http;

@if (Context.Session.GetString("sessionUser") != null)
{
    <div id="topbar">
        <div id="h1">
            <h1>Logged in as @Context.Session.GetString("sessionUser")</h1>
        </div>
        <div id="loButton">
            <button id="logoutButton" onclick="window.location.href='@Url.Action("Logout", "Home")'">Logout</button>
        </div>
    </div>
}
<div id="editorWrapper">
    <div id="toolbar">
        <h1>Commands:</h1>
        <label>A: add new point</label><br />
        <label>S: select a point</label><br />
        <label>G: grab selected</label><br />
        <label>D: delete selected</label><br />
        <h1>Tessellate:</h1>
        <label>width:</label><br />
        <input id="tWidth" required value="2" /><br />
        <label>height:</label><br />
        <input id="tHeight" required value="2" /><br />
        <button onclick="makeInfiniteTessellation()">Let's tesselate!</button><br>
        <button class="download-button">Download</button>
    </div>
    <canvas id="canvas" width="500" height="500"></canvas>
</div>

<div id="pictureContainer"></div>
<div class="modal-bg">
    <div class="modal">
        <form>
            <label id="fileNameLabel" for="fileName">File name</label>
            <input id="fileName" required name="fileName">
            <input id="true-download-button" type="submit" value="Download">
        </form>
        <h3 class="modal-close">+</h3>
    </div>
</div>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="~/js/keyboardEvents.js" asp-append-version="true"></script>
<script src="~/js/voronoi.js" asp-append-version="true"></script>
<script src="~/js/tessellate.js" asp-append-version="true"></script>