@using Microsoft.AspNetCore.Http;

@if (Context.Session.GetString("sessionUser") != null)
{
    <div id="topbar">
        <div id="h1">
            <h1>Logged in as @Context.Session.GetString("sessionUser")</h1>
        </div>
        <div id="loButton">
            <button id="logoutButton" onclick="window.location.href='@Url.Action("Logout", "Home")'">Logout</button>
        </div>
    </div>
}
<div id="editorWrapper">
    <div id="toolbar">
        <h1>Commands:</h1>
        <label>A: add new point</label><br />
        <label>S: select a point</label><br />
        <label>G: grab selected</label><br />
        <label>D: delete selected</label><br />
        <h1>Tessellate:</h1>
        <label>width:</label><br />
        <input required value="2" readonly /><br />
        <label>height:</label><br />
        <input required value="2" readonly /><br />
        <button onclick="makeTessellation()">Let's tesselate!</button>
    </div>
    <canvas id="canvas" width="500" height="500"></canvas>
</div>

<div id="pictureContainer" />

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://hongru.github.io/proj/canvas2image/canvas2image.js"></script>
<script src="~/js/keyboardEvents.js" asp-append-version="true"></script>
<script src="~/js/voronoi.js" asp-append-version="true"></script>
<script src="~/js/tessellate.js" asp-append-version="true"></script>