@{
    ViewData["Title"] = "Home Page";
}
@model Tessellation.Models.User

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<label>Register</label>
<form asp-action="Register" method="post">
    <label>Name</label>
    <input asp-for="Name" required />
    <label>Password</label>
    <input type="password" asp-for="Password" required />
    <button type="submit">Submit</button>
</form>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message")
        }
    </script>
}
@if (ViewBag.User != null)
{
    <h1>Logged in as @ViewBag.User</h1>
    <h2>this is a content for you</h2>
}
@if (ViewBag.User == null)
{
    <h2>Logged out</h2>
}
<button onclick="window.location.href='@Url.Action("Logout", "Home")'">Logout</button>
<label>Login</label>
<form asp-action="Login" method="post">
    <label>Name</label>
    <input asp-for="Name" required />
    <label>Password</label>
    <input type="password" asp-for="Password" required />
    <button type="submit">Submit</button>
</form>
