@import url('https://rsms.me/inter/inter-ui.css');


body {
    background-color: lightgrey;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 15px;
    font-weight: 800;
    margin-top:15px;
}

#wrapper {
    display: flex;
    text-align: center;
    margin-top:40px;


}

.loginDiv {
    background-color: white;
    padding: 60px;
    text-align: left;
    margin-left: auto;
}

.registerDiv {
    background-color: gray;
    padding: 60px;
    text-align: left;
    margin-right: auto;
    box-shadow:0px 0px 30px -10px;
}

.loginDiv label, .loginDiv input,
.registerDiv label, .registerDiv input {
    display: inline;
    float: none;
    margin: 5px;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
}

.loginDiv h3, .registerDiv h3 {
    font-size: 50px;
    font-weight: 900;
}

.registerDiv input[type=text], .registerDiv input[type=password] {
    border-color: #333;
    background-color: gray;
    border: solid 1px black;
}

.registerDiv input[type=text], .registerDiv input[type=password] {
    border-color: #333;
    background-color: gray;
    border: solid 1px black;
}

.registerDiv button {
    border: none;
    background-color: black;
    color: gray;
    font-size: 14px;
    font-weight: 800;
    margin:5px;
}

.loginDiv button {
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 800;
    margin: 5px;
}

textarea:focus, input:focus {
    outline: none;
}

#canvas {
    background-color: gray;
    box-shadow: 0px 0px 30px -10px;
    text-align: left;
    margin-right: auto;
}

#toolbar {
    background-color: white;
    padding: 10px;
    text-align: left;
    margin-left: auto;
    box-shadow: 0px 0px 35px -12px;
}

#toolbar input {
    width:70px;
}

#toolbar button {
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 800;
    margin-top:10px;
}

#toolbar h1{
    margin-top:45px;
}

#logoutButton {
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 800;
    margin:15px;
}

#topbar {
    display: flex;
    text-align: center;
    margin-top:10px;
}

#topbar #h1 {
    margin-left: auto;
    text-align: left;
    margin-top:3px;
}

#topbar #loButton {
    margin-right: auto;
    text-align: left;
}

#editorWrapper {
    display: flex;
    text-align: center;
    margin-top: 10px;
}

#loggedOuth1 {
    text-align: center;
    margin-top: 40px;
}

#guestDiv {
    text-align: center;
     margin-left:auto;
    margin-right:auto;
}

#LoginAsGuest {
    text-align: center;
    margin-top: 40px;
    border: none;
    background-color: black;
    color: lightgray;
    font-size: 14px;
    font-weight: 800;
    margin-left:auto;
    margin-right:auto;
}

#picture {
    /*box-shadow: 0px 0px 30px -10px;*/
    width: 1000px;
    text-align: center;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

#theimager, #theimagel {
    display:inline-block;
}

#theimagebr, #theimagebl {
    display: inline-block;
}

#theimager {
    margin-left:auto;
}

#theimagel {
    margin-right: auto;
}

#theimagebr {
    margin-left: auto;
}

#theimagebl {
    margin-right: auto;
}
