@import url('https://rsms.me/inter/inter-ui.css');


body {
    background-color: lightgrey;
    font-family: 'Inter UI', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-size: 15px;
    font-weight: 800;
    margin-top:15px;
}

#wrapper {
    display: flex;
    text-align: center;
    margin-top:60px;


}

.loginDiv {
    background-color: white;
    padding: 60px;
    text-align: left;
    margin-left: auto;
}

.registerDiv {
    background-color: gray;
    padding: 60px;
    text-align: left;
    margin-right: auto;
    box-shadow:0px 0px 30px -10px;
}

.loginDiv label, .loginDiv input,
.registerDiv label, .registerDiv input {
    display: inline;
    float: none;
    margin: 5px;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.5;
}

.loginDiv h3, .registerDiv h3 {
    font-size: 50px;
    font-weight: 900;
}

.registerDiv input[type=text], .registerDiv input[type=password] {
    border-color: #333;
    background-color: gray;
    border: solid 1px black;
}

.registerDiv input[type=text], .registerDiv input[type=password] {
    border-color: #333;
    background-color: gray;
    border: solid 1px black;
}

.registerDiv button {
    border: none;
    background-color: black;
    color: gray;
    font-size: 14px;
    font-weight: 800;
    margin:5px;
}

.loginDiv button {
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 800;
    margin: 5px;
}

textarea:focus, input:focus {
    outline: none;
}
